<a href="https://colab.research.google.com/github/Saleth-sharmi-211/PP3-python/blob/main/Lab1blist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1 = [3,5,"sharmi","python",3.9]
list2 =["mary","ram","losy"]
print(list1)
print(list2)
print(type(list1))
print(type(list2))

[3, 5, 'sharmi', 'python', 3.9]
['mary', 'ram', 'losy']
<class 'list'>
<class 'list'>

In [ ]:
a=[2,3,"raj",5.20,"anto",6,5]
b=[3,2,"raj",5.20,"anto",6,5]
a==b

False

In [ ]:
list=[4,5,6,7,8]
print(list[0])
print(list[1])
print(list[3])
print(list[0:4])
print(list[:])
print(list[2:4])
print(list[1:4:3])

4
5
7
[4, 5, 6, 7]
[4, 5, 6, 7, 8]
[6, 7]
[5]

In [ ]:
list=[5,7,8,9,10]
print(list[-1])
print(list[-3:])
print(list[:-1])
print(list[-3:-1])

10
[8, 9, 10]
[5, 7, 8, 9]
[8, 9]

In [ ]:
list =[4,5,6,7,8,9]
print(list)
list[3]=3
print(list)
list[4:5]=[45,28]
print(list)
list[-1]=25
print(list)

[4, 5, 6, 7, 8, 9]
[4, 5, 6, 3, 8, 9]
[4, 5, 6, 3, 45, 28, 9]
[4, 5, 6, 3, 45, 28, 25]

In [ ]:
list1 =[45,67,89,98]
i=list1*2
print(i)

[45, 67, 89, 98, 45, 67, 89, 98]

In [ ]:
list1 =[12,45,67,89]
list2 =[3,4,5,6,]
i=list1+list2
print(i)

[12, 45, 67, 89, 3, 4, 5, 6]

In [ ]:
list1 =[3,4,5,6,7,8,9]
len(list1)

7

In [ ]:
list1 =[13,45,23,56]
for i in list:
  print(i)

4
5
6
3
45
28
25

In [ ]:
list1 =[200,300,400,500]
print(400 in list1)
print(700 in list1)

True
False

In [ ]:
list =["mary","maria","ram"]
for i in list:
  print(i)

mary
maria
ram

In [ ]:
I =[]
n = int(input("enter the number of elements in the list:"))
for i in range(0,n):
  I.append(input("enter the item:"))
print("printing the list items")
for i in I:
  print(i,end="")

enter the number of elements in the list:3
enter the item:2
enter the item:4
enter the item:6
printing the list items
246

In [ ]:
list =[0,1,2,4,6]
print("printing original list:");
for i in list:
  print(i,end="")
list.remove(2)
print("\nprinting the list after the removal of first element")
for i in list:
   print(i,end="")

printing original list:
01246
printing the list after the removal of first element
0146

In [ ]:
import copy
old_list=[[3,4,5],[6,7,8],[2,9,1]]
new_list=copy.copy(old_list)
print("old list:",old_list)
print("new list:",new_list)

old list: [[3, 4, 5], [6, 7, 8], [2, 9, 1]]
new list: [[3, 4, 5], [6, 7, 8], [2, 9, 1]]

In [ ]:
import copy
old_list=[[3,3,3],[4,4,4],[6,6,6]]
new_list=copy.copy(old_list)
old_list=copy.copy(old_list)
print("old list:",old_list)
print("new list:",new_list)

old list: [[3, 3, 3], [4, 4, 4], [6, 6, 6]]
new list: [[3, 3, 3], [4, 4, 4], [6, 6, 6]]

In [ ]:
import copy
old_list=[[2,2,2],[3,3,3],[1,1,1]]
new_list=copy.copy(old_list)
old_list[1][1]='AA'
print("old list:",old_list)
print("new list:",new_list)

old list: [[2, 2, 2], [3, 'AA', 3], [1, 1, 1]]
new list: [[2, 2, 2], [3, 'AA', 3], [1, 1, 1]]

In [ ]:
import copy
old_list=[[2,2,2],[3,3,3],[1,1,1]]
new_list=copy.deepcopy(old_list)
print("old list:",old_list)
print("new list:",new_list)

old list: [[2, 2, 2], [3, 3, 3], [1, 1, 1]]
new list: [[2, 2, 2], [3, 3, 3], [1, 1, 1]]

In [ ]:
list1=["mary","terasa","michael","ram","nisha","asha"]
list1[5:]=["tharuna"]
print(list1)

['mary', 'terasa', 'michael', 'ram', 'nisha', 'tharuna']

In [ ]:
import copy
old_list=[[2,2,2],[3,3,3],[1,1,1]]
new_list=copy.deepcopy(old_list)
new_list[1][0]='BB'
print("old list:",old_list)
print("new list:",new_list)

old list: [[2, 2, 2], [3, 3, 3], [1, 1, 1]]
new list: [[2, 2, 2], ['BB', 3, 3], [1, 1, 1]]

In [ ]:
import copy
list1=["mary","terasa","michael","ram","nisha","asha"]
list2=copy.copy(list1)
print(list2)
print(list1)
list1.append("sharmi")
print(list1)
print(list2)

['mary', 'terasa', 'michael', 'ram', 'nisha', 'asha']
['mary', 'terasa', 'michael', 'ram', 'nisha', 'asha']
['mary', 'terasa', 'michael', 'ram', 'nisha', 'asha', 'sharmi']
['mary', 'terasa', 'michael', 'ram', 'nisha', 'asha']

In [ ]:
list=["sharmi","tharuna","aishu","naveena","kaviya","sharmi","tharuna","sharmi"]
a=list.count("sharmi")
print(a)

3

In [ ]:
list1=["sharmi","tharuna","aishu","naveena","kaviya"]
list2=["mary","raj","anto"]
merge=[list1+list2]
print(merge)

[['sharmi', 'tharuna', 'aishu', 'naveena', 'kaviya', 'mary', 'raj', 'anto']]

In [ ]:
list=["mary","raj","anto"]
a=list.index("anto")
print(a)

2

In [ ]:
list1=["mary","raj","anto"]
list1.insert(2,"sharmi")
print(list1)
list2=["mary","raj","anto"]
list2.insert(2,"sharmi")
for i in list2:
 print(i)

['mary', 'raj', 'sharmi', 'anto']
mary
raj
sharmi
anto

In [ ]:
list1=["sharmi","tharuna","naveena","aishu","uma"]
a=list1.pop()
print("rovemed student",a)
print(list1)

rovemed student uma
['sharmi', 'tharuna', 'naveena', 'aishu']

In [ ]:
list1=["sharmi","tharuna","naveena","aishu","uma"]
a=list1.remove("naveena")
print(list1)

['sharmi', 'tharuna', 'aishu', 'uma']

In [ ]:
list1=["sharmi","tharuna","naveena","aishu","uma"]
print(list1[::-1])

['uma', 'aishu', 'naveena', 'tharuna', 'sharmi']

In [ ]:
list1=["sharmi","tharuna","naveena","aishu","uma"]
a=list1.sort()
print(list1)

['aishu', 'naveena', 'sharmi', 'tharuna', 'uma']

In [ ]:
list1=["sharmi","tharuna","naveena","aishu","uma"]
list1.clear()
print(list1)

[]