<a href="https://colab.research.google.com/github/Saleth-sharmi-211/PP3-python/blob/main/Lab1cset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
days={"monday","tuesday","wednesday","thursday","friday","saturday","sunday"}
print(days)
print(type(days))
print("looping")
for i in days:
  print(i)

{'thursday', 'sunday', 'friday', 'saturday', 'wednesday', 'monday', 'tuesday'}
<class 'set'>
looping
thursday
sunday
friday
saturday
wednesday
monday
tuesday

In [ ]:
days = set(["monday","tuesday","wednesday","thursday","friday","saturday","sunday"])
print(days)
print(type(days))
print("looping")
for i in days:
  print(i)

{'thursday', 'sunday', 'friday', 'saturday', 'monday', 'tuesday', 'wednesday'}
<class 'set'>
looping
thursday
sunday
friday
saturday
monday
tuesday
wednesday

In [ ]:
set1={1,2,3,"java",20.5,13}
print(type(set1))
set2={1,2,3["java",4]}
print(type(set2))

<class 'set'>

<>:3: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:3: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
/tmp/ipython-input-2105870894.py:3: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  set2={1,2,3["java",4]}

TypeError: 'int' object is not subscriptable

In [ ]:
set3={}
print(type(set3))
set4=set()
print(type(set4))

<class 'dict'>
<class 'set'>

In [ ]:
set5={1,2,3,4,4,45,6}
print("return set with unique elements:",set5)

return set with unique elements: {1, 2, 3, 4, 6, 45}

In [ ]:
months =set(["jan","feb","mar","apri","may"])
print("\nprinting the original set");
print(months)
print("\nadding other months to the set");
months.add("july");
months.add("august");
print("/nprinting the modified set");
print(months)
print("\nlooping through the set elements")
for i in months:
  print(i)

printing the original set
{'may', 'jan', 'mar', 'apri', 'feb'}

adding other months to the set
/nprinting the modified set
{'july', 'august', 'may', 'jan', 'mar', 'apri', 'feb'}

looping through the set elements
july
august
may
jan
mar
apri
feb

In [ ]:
months=set(["jan","feb","mar","apri","may"])
print("\n printing the original set")
print(months)
print("\nupdating")
months.update(["july","august","sept"]);
print("\n modified set:")
print(months)

 printing the original set
{'may', 'jan', 'mar', 'apri', 'feb'}

updating

 modified set:
{'july', 'august', 'may', 'jan', 'sept', 'mar', 'apri', 'feb'}

In [ ]:
months=set(["jan","feb","mar","apri","may"])
print("\nprinting the original set")
print(months)
print("/nremoving some months")
months.discard("january")
months.discard("may")
print("\nthe modified set")
print(months)
print("\nlooping")
for i in months:
      print(i)

printing the original set
{'may', 'feb', 'apri', 'jan', 'mar'}
/nremoving some months

the modified set
{'feb', 'apri', 'jan', 'mar'}

looping
feb
apri
jan
mar

In [ ]:
months=set(["jan","feb","march","apri","may"])
print("\nprinting the original set")
print(months)
print("\nremoving elements")
months.remove("jan")
print("\nmodified set")
print(months)
print("fully removed")
print("using discard:")
months.discard("june")
print(months)
for i in months:
 print(i)

printing the original set
{'may', 'feb', 'march', 'apri', 'jan'}

removing elements

modified set
{'may', 'feb', 'march', 'apri'}
fully removed
using discard:
{'may', 'feb', 'march', 'apri'}
may
feb
march
apri

In [ ]:
months=set(["jan","feb","march","apri","may"])
print("\nprinting the original set")
print(months)
months.pop()
print(months)

printing the original set
{'may', 'feb', 'march', 'apri', 'jan'}
{'feb', 'march', 'apri', 'jan'}

In [ ]:
months=set(["jan","feb","march","apri","may"])
print("\nprinting the original set")
print(months)
months.clear()
print(months)

printing the original set
{'may', 'feb', 'march', 'apri', 'jan'}
set()