<a href="https://colab.research.google.com/github/Saleth-sharmi-211/PP3-python/blob/main/Lab1cdict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
employee={"name":"sharmi","age":20,"salary":100000}
print(type(employee))
print("printing the employee data")
print(employee)

<class 'dict'>
printing the employee data
{'name': 'sharmi', 'age': 20, 'salary': 100000}

In [ ]:
dict={}
print("empty")
print(dict)

empty
{}

In [ ]:
a = dict({1:'hcl',2:'wipro',3:'facebook'})
print("\n using dict keyword")
print(a)

 using dict keyword
{1: 'hcl', 2: 'wipro', 3: 'facebook'}

In [ ]:
a = dict([(4,'sharmi'),(2,'singh')])
print("\nDictionary with each item as a pair:")
print(a)

TypeError: 'dict' object is not callable

In [ ]:
employee={"name":"dev","age":18,"salary":90000,"company":"wipro"}
print(type(employee))
print("printing employee data")
print("name:%s" %employee["name"])
print("age:%d" %employee["age"])

<class 'dict'>
printing employee data
name:dev
age:18

In [ ]:
dic ={}
print("empty:")
print(dict)

empty:
{}

In [ ]:
dict[0]='sam'
dict[1]='joseph'
dict[3]='ricky'
print("dict after adding 3 elements:")
print(dict)

dict after adding 3 elements:
{0: 'sam', 1: 'joseph', 3: 'ricky'}

In [ ]:
dict['emp_age']=45,67,89
print("\nDictionary after adding 3 elements:")
print(dict)

Dictionary after adding 3 elements:
{0: 'sam', 1: 'joseph', 3: 'ricky', 'emp_age': (45, 67, 89)}

In [ ]:
dict[3]='java point'
print("\nuploaded key value:")
print(dict)

uploaded key value:
{0: 'sam', 1: 'joseph', 3: 'java point', 'emp_age': (45, 67, 89)}

In [ ]:
employee = {"name":"dev","age":23,"salary":50000}
print(type(employee))
print("printing emp data")
print(employee)
print("new employee")
employee["name"]=input("name:");
employee["salary"]=int(input("age:"))
print(employee)

<class 'dict'>
printing emp data
{'name': 'dev', 'age': 23, 'salary': 50000}
new employee
name:sharmi
age:20
{'name': 'sharmi', 'age': 23, 'salary': 20}

In [ ]:
employee={"name":"david","age":23,"salary":40000}
print(type(employee))
print("printing employee data")
print(employee)
print("delete employee")
del employee["name"]
del employee["age"]
print("modified")
print(employee)
print("deleting the dict:employee");
del employee
print("print it again");
print(employee)

<class 'dict'>
printing employee data
{'name': 'david', 'age': 23, 'salary': 40000}
delete employee
modified
{'salary': 40000}
deleting the dict:employee
print it again

NameError: name 'employee' is not defined

In [ ]:
a={1:'java',2:'education',3:'website'}
pop_key=a.pop(2)
print(a)

{1: 'java', 3: 'website'}

In [ ]:
employee={"name":"sam","salary":5000}
for x in employee.values():
 print(x)

sam
5000

In [ ]:
employee={"name":"john","age":68}
for x in employee.items():
  print(x)

('name', 'john')
('age', 68)