<a href="https://colab.research.google.com/github/Saleth-sharmi-211/PP3-python/blob/main/Lab1btuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
empty_tuple=0
print("empty tuple:",empty_tuple)
int_tuple=(1,3,5,7,9)
print("tuple with integers:",int_tuple)
mixed_tuple=(5,"python",8.7)
print("tuple with different data types:",mixed_tuple)
nested_tuple=("python",{5:4,3:6,9:7},{3,5,6,5})
print("a nested tuple:",nested_tuple)

empty tuple: 0
tuple with integers: (1, 3, 5, 7, 9)
tuple with different data types: (5, 'python', 8.7)
a nested tuple: ('python', {5: 4, 3: 6, 9: 7}, {3, 5, 6})

In [ ]:
tuple_=5,6.8,"tuples",["python","tuples"]
print(tuple_)
print(type(tuple_))

(5, 6.8, 'tuples', ['python', 'tuples'])
<class 'tuple'>

In [ ]:
single_tuple=("sharmi")
print(type(single_tuple))
single_tuple=("anto",)
print(type(single_tuple))
single_tuple="raj",
print(type(single_tuple))

<class 'str'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
tuple_=("python","java","c++")
print("element at -1 index:",tuple_[-1])
print("elements between -4 and -1 are:",tuple_[-3:-1])

element at -1 index: c++
elements between -4 and -1 are: ('python', 'java')

In [ ]:
tuple_=("class","object","java","python")
print("elements between indices 1 and 3:",tuple_[1:3])
print("elements between indices 0 and-3",tuple_[:-3])
print("entire tuple:",tuple_[:])

elements between indices 1 and 3: ('object', 'java')
elements between indices 0 and-3 ('class',)
entire tuple: ('class', 'object', 'java', 'python')

In [ ]:
t1=(0,2,4,5,6,7,8,2,2,2,2)
t2=('java','python','java')
res=t1.count(2)
print('count of 2in t1 is:',res)
res =t2.count('java')
print('count of java int2 is:',res)

count of 2in t1 is: 5
count of java int2 is: 2

In [ ]:
Tuple_data=(3,4,5,6,4,4,8)
res1=Tuple_data.index(6)
print('first occurence of 1 is',res)
res2=Tuple_data.index(4,5)
print(res)

first occurence of 1 is 3

In [ ]:
tuple_ =("java","python","list","tuple")
print('java' in tuple_)
print('ram' in tuple_)
print('ram'not in tuple_)
print('java' not in tuple_)

True
False
True
False

In [ ]:
tuple_=("java","c++","python","meera")
for item in tuple_:
  print(item)

java
c++
python
meera

In [ ]:
tuple_=("java","c++","python","meera")
print(tuple_+(4,3,6))

('java', 'c++', 'python', 'meera', 4, 3, 6)

In [ ]:
tuple_=(211,"apple","fruits",200)
print(tuple_)

(211, 'apple', 'fruits', 200)

In [ ]:
tuple_=(211,"apple","fruits",200)
print(tuple_[2])

fruits

In [ ]:
tuple_="apple","orange","banana","orange","grapes","cherry"
tuple_.count("orange")

2

In [ ]:
tuple_="apple","orange","banana","orange","grapes","cherry"
print(tuple_.index("banana"))

2

In [ ]:
tuple_="apple","orange","banana","orange","grapes","cherry"
print(tuple_[0:2])

('apple', 'orange')

In [ ]:
tuples="39","60","40","50"
tuples_list=list(tuples)
tuples_list[2]=80
tuples_list=tuple(tuples_list)
print(tuples_list)

('39', '60', 80, '50')